aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps
*.dirstamp
install-sh
.libs
lib
libocl_icd_wrapper.la
libtool
ltmain.sh
Makefile
Makefile.in
missing
*.o
ocl_icd_wrapper.lo
stamp-h1
